
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

form{
    border: 2px solid #ff5b37;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    /*   background-color: #ff5b37;*/
}

label{
    margin-top: 20px;
}

input{
    width:50%;
    margin: 10px 20px;
}

.enviar{
    background-color: #ff5b37;
}

button{
    width:50%;
    margin: 10px 20px;
}
