*{
    font-family: sans-serif;
}

div{
    display: flex;
    margin-left: 100px;
}

div ol li a{
    text-decoration: none;
    color:black;
}

div ol li a:hover{
    text-decoration: none;
    color:white;
    background-color: darkslategrey; 
}
