<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatosForm</servlet-name>
        <servlet-class>es.albarregas.controllers.DatosForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosMap</servlet-name>
        <servlet-class>es.albarregas.controllers.DatosMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionControlador</servlet-name>
        <servlet-class>es.albarregas.controllers.validacionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionControladorPRUEBA</servlet-name>
        <servlet-class>es.albarregas.controllers.validacionControladorPRUEBA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dobleBoton</servlet-name>
        <servlet-class>es.albarregas.controllers.dobleBoton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>directoControlador</servlet-name>
        <servlet-class>es.albarregas.controllers.DirectoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectoControlador</servlet-name>
        <servlet-class>es.albarregas.controllers.DirectoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordarDatos</servlet-name>
        <servlet-class>es.albarregas.controllers.RecordarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloVidaServletNuevo</servlet-name>
        <servlet-class>es.albarregas.controllers.CicloVidaServletNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloVidaServlet</servlet-name>
        <servlet-class>es.albarregas.controllers.CicloVidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatosForm</servlet-name>
        <url-pattern>/DatosForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosMap</servlet-name>
        <url-pattern>/DatosMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionControlador</servlet-name>
        <url-pattern>/validacionControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionControladorPRUEBA</servlet-name>
        <url-pattern>/validacionControladorPRUEBA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dobleBoton</servlet-name>
        <url-pattern>/dobleBoton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directoControlador</servlet-name>
        <url-pattern>/directoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectoControlador</servlet-name>
        <url-pattern>/DirectoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordarDatos</servlet-name>
        <url-pattern>/RecordarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloVidaServletNuevo</servlet-name>
        <url-pattern>/CicloVidaServletNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloVidaServlet</servlet-name>
        <url-pattern>/CicloVidaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
